.image {
    max-height: 915px !important;
}

.navigation {
    background-color: rgb(29, 29, 29);
    color: #FFF;
    padding: 10px;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.navigation ul li a {
    color: #FFF;
    text-decoration: none;
}

.navigation ul li a:hover {
    color: rgb(221, 221, 221);
}